<%= simple_form_for @theme do |f| %>
	<div id="selectme">
		<div class="form-group">
			<%= f.collection_select :category_id, Category.order(:name), :id, :name, { prompt: "Site Templates" }, {  class: "form-control"} %>
		</div>
		<div class="form-group">
			<%= f.grouped_collection_select :subcategory_id, Category.order(:name), :subcategories, :name, :id, :name, { prompt: "Categories" }, { class: "form-control" } %>
		</div>
	</div>
	<div class="catbtn">
		<%= f.submit "Upload", class: "btn btn-default btn-ups" %>
	</div>
<% end %>