<div class="head">
	<div class="container con-custom-detail">
		<h2>Upload to ThemeForest</h2>
	</div>
</div>
<div class="main-head">
	<div class="container con-custom-detail hdf">
		<h3>Select a category for your upload:</h3>
		<hr>
		<div class="form-frame">
			<%= render "themes/form" %>	
		</div>
		<div class="infos">
			<p>Need help selecting a category?</p>
			<span>A great way to start is by browsing through our categories to see what other authors are selling.</span>
		</div>
	</div>
</div>