<div class="head xcsd foo-cart">
	<div class="container con-custom-detail">
		<div class="uclok">
			<h4>
				<span><%= link_to "Home", themes_path %></span>
				<i class="fa fa-angle-double-right"></i>
			</h4>
		</div>
		<h2 class="tis">Shopping Cart</h2>
	</div>
</div>
<div class="container con-custom-detail">
	<div class="shopping_show">
		<%= render 'carts/shopping_cart' %>
	</div>
</div>