<div class="container con-custom-detail hdf">
	<div class="new-session">
		<div class="foes">
			<h4>Sign In</h4>
			<span>enter your email / username and password </span>
		</div>
		<div class="fow">
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="form-inputs">
			  	<div class="form-group">
				    <%= f.text_field :login, required: true, autofocus: true, label: false, placeholder: "email or username", class: "form-control joy" %>
			    </div>
			    <div class="form-group">
				    <%= f.password_field :password, required: true, label: false, placeholder: "password", class: "form-control joy" %>
				</div>
			</div>
			<div class="form-actions lpd">
			  <%= f.button :submit, "Sign in", class: "lpdb" %>
			</div>
			<% end %>
		</div>
	</div>
</div>