footer {
		padding: 35px 0px;
		background-color: #d4d4cc;
		/*margin-top: 180px;*/
	}
	footer .vh {
		width: 20%;
	}
	footer .vh p {
		font-size: 13px;
		font-weight: 300;
		line-height: 25px; 
		color: #8d8a83;
		font-family: "Museo Sans", Roboto, Helvetica, Arial;
	}
	footer .vh ul.ko {
		display: inline-block !important;
		padding: 0px;
	}
	footer .vh h5 {
		color: #817e77;
	}
	footer .vh ul.ko li.jo {
		list-style: none;
		display: inline-block !important;
		margin-right: 10px;
		margin-top: 20px;
	}
	footer .vh ul.ko li.jo a {
		color: #afaba2;
		text-decoration: none;
	}
	footer .vh .jdl {
		color: #67645b;
		font-size: 16px;
		font-family: "Museo Sans", Roboto, Helvetica, Arial;
		margin-top: 0px !important;
		/* padding-bottom: 15px; */
	}
	footer .vh  ul.lo {
		display: block;
		padding: 0px;
	}
	footer .vh  ul.lo li.li {
		list-style: none;
		padding-bottom: 5px;
	}
	footer .vh  ul.lo li.li a {
		font-size: 13px;
		font-family: "Museo Sans", Roboto, Helvetica, Arial;
		color: #908d86;
		text-decoration: none;
		font-weight: 300;
	}